:host {
  --color-bg-default: #ececec;
  --color-fg-primary: #d207ff;
  --color-fg-default: #fff;
  --color-fg-accent: #d207ff;
  --color-bg-inrange: rgb(183, 183, 183);
  --day-width: 35px;
  --day-height: 30px;
}
/* increase start and end */
.container.range-plugin .calendar>.days-grid>.day.start,
.container.range-plugin .calendar>.days-grid>.day.end {
  font-weight: bold;
  transform: scale(1.2);
  z-index: 1;
}
